.idea/

*.js
!jest.config.js
!packages/web-app/lambda-adapter.js
!packages/web-app/next.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
/dist/
/packages/infrastructure/examples/*.private.env.json

# Coverage directory
coverage/
/packages/web-app/.next/

# TypeScript incremental build cache
*.tsbuildinfo
