.idea/

*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
/dist/
/packages/infrastructure/examples/*.private.env.json

# Coverage directory
coverage/
/packages/web-app/.next/
